.mypara{ color:red; }
li{color:blue;}

body, html {
  height: 100%;
}
.profilepic{
margin-top:200px;
width:300px;
height:300px;
border-radius:50%;
}
.parallax1 {
  /* The image used */
  background-image: url("../image/door.jpg");
  position:relative;
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2 {
  /* The image used */
  background-image: url("../image/pc1.jpg");
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax3 {
  /* The image used */
  background-image: url("../image/travel2.jpg");
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.typewriter h3{
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Source Code Pro', monospace;
  font-size: 28px;
  color: black;
}

/* Animation */
.typewriter h3{
  animation: animated-text 4s steps(21,end) 1s 1 normal both,
             animated-cursor 700ms steps(20,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 310px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}

.row{
padding-top:15%;
margin-left:12%;
margin-right:5%;
}
.row .column2{
padding-top:50px;
display:flex;
}
.row .column2 .row1{
display:block;
}
.row .column2 .row2{
display:block;
}
.row .column2 img{
width:150px;
height:150px;
margin:10px;
border-radius:20px;
transition: width 1s, height 1s;
}
.row .column2 img:hover{
  width: 180px;
  height: 250px
}

footer{
background-color:black;
padding-top:40px;
padding-bottom:40px;
}
.footer_row{
text-align:center;
}
.footer_row ul li{
text-decoration:none;
display:inline-flex;
}
.iconify{
color:white;
width: 34px; height: 34px;
cursor:pointer;
}
.f_p p{
color:white;
margin-left:40px;
}
.bg_change{
background-color: #646464;
opacity:0.7;
}
